@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Quicksand&display=swap');

*{
   font-family: 'Quicksand';
}

/* ========== Header ========== */
#header {
   display: grid;
   align-items: center;
   justify-content: center;
   background-color: DarkOliveGreen;
   color: ivory;
   font-size: 56px;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 20px;
}

/* ========== Park Cards ========== */
.parks{
   display:grid;
   justify-content: space-evenly;
   text-align: center;
}

.img {
   width: 300px;
   height: 250px;
}

/* ========== Footer ========== */
footer{
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-color: DarkOliveGreen;
   height: 80px;
   padding-bottom: 15px;
}

p{
   color: ivory;
   margin-bottom: 3px;
}

.icons{
   width: 35px;
}


/* ========== Modal ========== */
.modal {
   background-color: ivory;
   border: 3px solid DarkOliveGreen;
   position: absolute;
   float: left;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
	z-index: 1;
   width: 600px;
   max-width: 100%;
   max-height: 100%;
	overflow: auto;
   display: none;
}

#closeModal {
   position: absolute;
   top: 0;
   right:0;
   background-color: DarkOliveGreen;
   color: ivory;
}

#modalimg {
   height: 500px;
   width: 400px;
}
