@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Quicksand&display=swap');

*{
   font-family: 'Quicksand';
}

/* ========== Header ========== */
#header {
   display: grid;
   align-items: center;
   justify-content: center;
   background-color: DarkOliveGreen;
   color: ivory;
   font-size: 56px;
   height: 100px;

}

/* ========== Park Cards ========== */
.parks{
   display:grid;
   justify-content: space-evenly;
   text-align: center;
}

.img {
   width: 300px;
   height: 250px;
}

/* ========== Footer ========== */
footer{
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-color: DarkOliveGreen;
   height: 80px;
   padding-bottom: 15px;
}

p{
   color: ivory;
   margin-bottom: 3px;
}

.icons{
   width: 35px;
}


/* ========== Modal ========== */
.modal {
   background-color: ivory;
	position: fixed;
	top: 0;
	left: 0;
	height: 70%;
	width: 70%;
	z-index: 1;
	overflow: auto;
   display: none;
   margin: 15% auto;
}

#modalimg {
   height: 600px;
   width: 500px;
}
