@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Quicksand&display=swap');

*{
   font-family: 'Quicksand';
}

/* ========== Header ========== */
#header {
   display: grid;
   align-items: center;
   justify-content: center;
   background-color: DarkOliveGreen;
   color: ivory;
   font-size: 56px;
   height: 100px;

}

/* ========== Footer ========== */
footer{
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   background-color: DarkOliveGreen;
   height: 80px;
   padding-bottom: 15px;
}

p{
   color: ivory;
   margin-bottom: 3px;
}

.icons{
   width: 35px;
}
